{% extends '::base.html.twig' %}

{% block body %}
    <div class="hero-unit">
        <h1>Neblion App</h1>
        <p>This is the Neblion base application, extend it !</p>
        <p>
          <a class="btn btn-primary btn-large">
            Learn more
          </a>
        </p>
    </div>
{% endblock body %}
