<div class="user-profile">
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <img src="{# gravatar(user.email, 210) #}" alt="user avatar" />
                <h3>{{ user.profile.firstname }} {{ user.profile.lastname }}</h3>
                <p>{{ user.username }}</p>
            </div>
        </li>
    </ul>
</div>